USE [master]
GO
/****** Object:  Database [BUSXP]    Script Date: 10/13/2022 9:35:17 PM ******/
CREATE DATABASE [BUSXP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BUSXP', FILENAME = N'B:\Programas programacion\SQLSERVER19\MSSQL15.SQLEXPRESS\MSSQL\DATA\BUSXP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BUSXP_log', FILENAME = N'B:\Programas programacion\SQLSERVER19\MSSQL15.SQLEXPRESS\MSSQL\DATA\BUSXP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BUSXP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BUSXP]
GO
/****** Object:  Table [dbo].[choferes]    Script Date: 10/13/2022 9:35:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[choferes](
	[idchofer] [int] IDENTITY(1,1) NOT NULL,
	[iduser] [int] NULL,
	[nombre] [varchar](30) NULL,
	[apellido] [varchar](30) NULL,
	[direccion] [varchar](50) NULL,
	[identificacion] [varchar](20) NULL,
	[telefono] [varchar](15) NULL,
	[activo] [int] NOT NULL,
 CONSTRAINT [PK_choferes] PRIMARY KEY CLUSTERED 
(
	[idchofer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coordenadas_choferes]    Script Date: 10/13/2022 9:35:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coordenadas_choferes](
	[idcoord] [int] IDENTITY(1,1) NOT NULL,
	[idchofer] [int] NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
 CONSTRAINT [PK_coordenadas_choferes] PRIMARY KEY CLUSTERED 
(
	[idcoord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[currency]    Script Date: 10/13/2022 9:35:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[currency](
	[idcurrent] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[valor] [int] NULL,
	[desde] [varchar](4) NULL,
	[hasta] [varchar](4) NULL,
 CONSTRAINT [PK_currency] PRIMARY KEY CLUSTERED 
(
	[idcurrent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[horarios]    Script Date: 10/13/2022 9:35:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[horarios](
	[idhorario] [int] IDENTITY(1,1) NOT NULL,
	[hora] [time](7) NULL,
	[activo] [int] NOT NULL,
 CONSTRAINT [PK_horarios] PRIMARY KEY CLUSTERED 
(
	[idhorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 10/13/2022 9:35:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[idpago] [int] IDENTITY(1,1) NOT NULL,
	[idcliente] [int] NULL,
	[fecha] [datetime] NULL,
	[monto] [money] NULL,
 CONSTRAINT [PK_pagos] PRIMARY KEY CLUSTERED 
(
	[idpago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rutas]    Script Date: 10/13/2022 9:35:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rutas](
	[idruta] [int] IDENTITY(1,1) NOT NULL,
	[rutadesde] [varchar](50) NULL,
	[rutahasta] [varchar](50) NULL,
	[capacidad] [int] NULL,
	[monto] [money] NULL,
	[activo] [int] NULL,
 CONSTRAINT [PK_rutas] PRIMARY KEY CLUSTERED 
(
	[idruta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tickets]    Script Date: 10/13/2022 9:35:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets](
	[idticket] [int] IDENTITY(1,1) NOT NULL,
	[idviaje] [int] NULL,
	[iduser] [int] NULL,
	[fecha] [datetime] NULL,
	[personas] [int] NULL,
	[total] [money] NULL,
	[credencial] [text] NULL,
	[idchofer] [int] NULL,
	[activo] [int] NOT NULL,
 CONSTRAINT [PK_tickets] PRIMARY KEY CLUSTERED 
(
	[idticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 10/13/2022 9:35:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[iduser] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
	[email] [varchar](40) NULL,
	[password] [varchar](50) NULL,
	[auth] [int] NULL,
	[activo] [int] NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[iduser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[viajes]    Script Date: 10/13/2022 9:35:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[viajes](
	[idviaje] [int] IDENTITY(1,1) NOT NULL,
	[idruta] [int] NULL,
	[idhorario] [int] NULL,
	[capacidad] [int] NULL,
	[fcapacidad] [int] NULL,
	[monto] [money] NULL,
	[idchofer] [int] NULL,
	[activo] [int] NULL,
 CONSTRAINT [PK_viajes] PRIMARY KEY CLUSTERED 
(
	[idviaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[choferes] ADD  CONSTRAINT [DF_choferes_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[horarios] ADD  CONSTRAINT [DF_horarios_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[rutas] ADD  CONSTRAINT [DF_rutas_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[tickets] ADD  CONSTRAINT [DF_tickets_idchofer]  DEFAULT ((0)) FOR [idchofer]
GO
ALTER TABLE [dbo].[tickets] ADD  CONSTRAINT [DF_tickets_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[usuarios] ADD  CONSTRAINT [DF_usuarios_auth]  DEFAULT ((0)) FOR [auth]
GO
ALTER TABLE [dbo].[usuarios] ADD  CONSTRAINT [DF_usuarios_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[viajes] ADD  CONSTRAINT [DF_viajes_idchofer]  DEFAULT ((0)) FOR [idchofer]
GO
ALTER TABLE [dbo].[viajes] ADD  CONSTRAINT [DF_viajes_activo]  DEFAULT ((1)) FOR [activo]
GO
USE [master]
GO
