<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/fontasome.css">
    <script src="https://www.paypal.com/sdk/js?client-id=AUyIurN72-L5Y6Mg7eb9Nh5i5CIl6DV_OW_eUW5LMjolkMogTk4HmgYqQwsRPCxLx2A1iPBkvyuk_o88"></script>
    <title>Compra de ticket</title>
</head>
<body onload="ticket(); currency();">
    <header id="head"></header>
    <div class="card-3">
        <div class="card-heading">
            <h2 class="title2">TICKET</h2>
        </div>
        <div class="card-body">
            <div id="tique"></div>
            <div class="form-row2">
                <div class="name">Personas:</div>
                
                <div class="value">
                    <div class="col-5 buscar">
                        <input type="text" id="personas" onkeypress="return valideKey(event);">
                    </div>
                </div>
            </div>

            <div style="text-align: center;">
                <div id="paypal-button-container"></div>
            </div>  

    </div>

</body>



<script src="/js/config.js"></script>
<script src="../../js/headers.js"></script>
<script src="./js/compra.js"></script>
<script src="/js/helpers/number.js"></script>
<script src="/js/controls/controlU.js"></script>
</html>