*{margin: 0; padding: 0;}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    min-width: 600px;
}

video{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.wrapper{
    width: 90%;
    max-width: 1800px;
    margin: auto;
}

/*header*/

header{
    background: #007bff;
    display: inline-block;
    width: 100%;
    z-index: 99997;
    margin-bottom: 20px;
}

header .logo{
    color: aliceblue;
    font-size: 72px;
    font-weight: 900;
    line-height: 100px;
    float: left;
}

header nav{
    line-height: 100px;
    float: right;
    text-decoration: none;
    font-size: 24px;
    color: #e5e5e5;
}

header nav a{
    max-width: 305px;
    text-decoration: none;
    display: inline-flex;
    font-weight: bold;
    font-size: 24px;
    color: #e5e5e5;
}

header nav .ab{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    line-height: normal;
    font-weight: bold;
    font-size: 24px;
    color: #e5e5e5;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

header nav .ab:hover{
    background: #285487;
    border-radius: 50px;
    color: #e5e5e5;
}

header nav .ab2{
    text-decoration: none;
    display: inline-block;
    padding: 6px 10px;
    line-height: normal;
    font-weight: bold;
    font-size: 18px;
    color: #e5e5e5;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

header nav .ab2:hover{
    background: #285487;
    border-radius: 50px;
    color: #e5e5e5;
}

header nav .dropmenu{
    text-decoration: none;
    z-index: 99998;
    display: inline-block;
    padding: 10px 20px;
    line-height: normal;
    font-weight: bold;
    font-size: 24px;
    color: #e5e5e5;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

header nav .dropmenu:hover{
    background: #285487;
    color: #e5e5e5;
}

@media screen and (max-width: 1100px){
    header .logo, header nav{
        width: 100%;
        text-align: center;
        line-height: 100px;
    }
}

form{
    text-align: center;
    padding: 20px;
}

.icoerr{
    display: none;
    color: #FE0F0F;
}
.icodone{
    display: none;
    color: #46EC1C;
}

.icofont{
    font-size: 26px;
    font-weight: 900;
}

i{
    font-size: 26px;
    font-weight: 900;
}



/*CARD*/
/* .card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
} */

.card-5 {
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-2 {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 350px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}
  
  
.card-3 {
  background: #fff;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 600px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-4 {
    margin-top: 50px;
    background: #fff;
    margin-left:auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 700px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-6 {
    background: #fff;
    margin-left:auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 700px;
    max-height: 350px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

  
.card-heading {
    padding: 20px 0;
    background: #007bff;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}

.card-heading2 {
    padding: 20px 0;
    background: #ffc107;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}
  
.card-body {
    padding: 52px 70px;
    padding-bottom: 73px;
}
  
@media (max-width: 767px) {
    .card-body {
      padding: 40px 30px;
      padding-bottom: 50px;
    }
}

/*FORM*/
.form-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.form-row2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}
  
.form-row .name {
    width: 150px;
    color: #555;
    font-size: 22px;
    font-weight: 700;
}
  
.form-row .value {
    width: -webkit-calc(100% - 150px);
    width: -moz-calc(100% - 150px);
    width: calc(100% - 150px);
}

.form-row .name2 {
    width: 200px;
    color: #555;
    font-size: 22px;
    font-weight: 700;
}
  
.form-row .value2 {
    width: -webkit-calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: calc(100% - 200px);
}

.form-row2 .name {
    width: 150px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 900;
}
  
.form-row2 .value {
    color: #007bff;
    font-size: 20px;
    font-weight: 700;
    width: -webkit-calc(100% - 150px);
    width: -moz-calc(100% - 150px);
    width: calc(100% - 150px);
}
  
@media (max-width: 767px) {
    .form-row {
      display: block;
    }
    .form-row .name,
    .form-row .value {
      display: block;
      width: 100%;
    }
    .form-row .name {
      margin-bottom: 7px;
    }
}

@media (max-width: 767px) {
    .form-row {
      display: block;
    }
    .form-row .name2,
    .form-row .value2 {
      display: block;
      width: 100%;
    }
    .form-row .name2 {
      margin-bottom: 7px;
    }
}
/*TITLE*/
.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.title2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.title3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.title4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: black;
}

/* TABLE */
table{
    overflow: auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: black;
    border-radius: 5px;
    text-align: center;
}

td,th,tr,table{
	border: 2px solid black;
}

/*INPUT*/
input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
    font-weight: bold;
    background: #cee5ff;
    line-height: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 22px;
    font-size: 22px;
    color: rgb(0, 0, 0);
    
}

/*SELECT*/
select {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    background: #cee5ff;
    height: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 22px;
    color: rgb(0, 0, 0);
}

.input-group-desc,
.input-group-desc {
    margin-bottom: 0;
}

.label--desc{
    position: relative;
    text-transform: capitalize;
    display: block;
    color: black;
    font-size: 20px;
    margin: 0;
    margin-top: 7px;
    left: 0;
  }

/* H */
h1 {
    font-size: 36px;
}
  
h2 {
    font-size: 30px;
}
  
h3 {
    font-size: 24px;
}
  
h4 {
    font-size: 18px;
}
  
h5 {
    font-size: 15px;
}
  
h6 {
    font-size: 13px;
}

/*BTN*/
.hide{
    display: none;
}
.show{
    display: block;
}


/*BTN*/

.nopay{
    display: none;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: red;
}

.btn {
    line-height: 50px;
    padding: 0 50px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-family: inherit;
}

.btn2 {
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    padding: 0 20px;
    color: #fff;
}

.btn3 {
    font-size: 18px;
    line-height: 50px;
    font-weight: 700;
    padding: 0 40px;
    color: #fff;
}

.btn4 {
    font-size: 16px;
    line-height: 45px;
    font-weight: 700;
    padding: 0 20px;
    color: #fff;
}


/* SWEETALERT */
.swal{
    font-family: Arial, Helvetica, sans-serif;
}

.swal-overlay {
    background-color: rgba(61, 59, 59, 0.789);
}

/* .swal-modal {
    background-color: rgba(63,255,106,0.69);
    border: 3px solid white;
} */

.swal-title {
    margin: 0px;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 28px;
    color: black;
}

.swal-text {
    display: block;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: black;
}

/* .swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
} */

.swal-button {
    padding: 8px 16px;
    border-radius: 3px;
    background-color: #007bff;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.buscar{
    text-align: center; margin-left: auto; margin-right: auto;
    font-size: 24px;
    font-weight: 700;
    padding: 5px;
}

#loader {
	position: relative;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 120px;
	height: 120px;
	margin: -76px 0 0 -76px;
	border: 16px solid #e4e1e1;
	border-radius: 50%;
	border-top: 16px solid #007bff;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* DROPDOWN USERMENU */

/* header{
    background-color: #e5e5e5;
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
} */

.link{
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
}

.dropdown{
    display: inline-block;
    position: relative;
    height: 80px;
}

.dropdown-menu{
    display: flex;
    position: absolute;
    z-index: 99999;
    right: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .70rem;
    border-radius: .25rem;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-5px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu a{
    display: flex;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.dropdown-menu ul{
    padding: 0;
}

.dropdown-menu li{
   list-style: none;
   padding: 3px;
}

.dropdown-menu li:hover{
    background-color: rgb(220, 220, 220);
}

/* Tickets */

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #007bff;
}

/* MODALS */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	margin: 0 auto;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
	background-color: #fefefe00;
	text-align: center;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid rgba(136, 136, 136, 0);
	width: 45%;
}

/* The Close Button */
.close {
	color: rgb(249, 71, 71);
	float: right;
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
    padding-bottom: 30px;
	padding-right: 30px;
	font-size: 40px;
	font-weight: bold;
	border: 2px #ccc;
	border-radius: 5px;
}


.chartMenu {
    width: 100vw;
    height: 40px;

  }
  .chartMenu p {
    padding: 10px;
    font-size: 20px;
  }
  .chartCard {
    width: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: last baseline;
  }
  .chartBox {
    width: 700px;
    padding: 20px;
    border-radius: 20px;

  }


.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* Mapa */
#map {
	height: 500px;
	width: 100%;
    margin: 10px;
}

/* Margin */

.marLR20{
    margin-left: 20px;
    margin-right: 20px;
}

.mar10{
    margin: 10px;
}